{{#let @credential.manifest @credential.manifest.outputDescriptors.firstObject as |manifest od|}}
  <div class="row">
    <div class="col">
      {{#let od.styles.hero as |hero|}}
        <img src={{hero.uri}} class="card-img-top" alt={{hero.alt}}>
      {{/let}}
    </div>
  </div>
  <br>
  <div class="row align-items-center">
    <div class="col-2">
      {{#let od.styles.thumbnail as |thumbnail|}}
        <img src={{thumbnail.uri}} class="align-middle card-img-top" alt={{thumbnail.alt}}>
      {{/let}}
    </div>
    <div class="col-10">
      <h5>{{od.display.title.text}}</h5>
      <h6>
        {{coalesce
          manifest.raw
          od.display.subtitle.path
          od.display.subtitle.fallback}}
      </h6>
      <p>{{od.display.description.text}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Approved</h5>
      <p>{{moment-format @credential.issuanceDate 'MM-DD-YYYY'}}</p>
      <h5>Revoked</h5>
      <p>No</p>
      <h5>Expires</h5>
      <p>{{moment-format @credential.expirationDate 'MM-DD-YYYY'}}</p>
    </div>
  </div>
{{/let}}